@charset "utf-8"; 

.daimei{
    text-align: center;
}


.img1{
    width: 270px;
    transform: rotate(-30deg);
    position: relative;
    z-index: -1;
    padding: 40px;
}
body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
    background: url("../static/img/haikei.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    gap: 40px;
    justify-content: center;
    z-index: 1;
    position: relative;
    
}
.habit{
    text-align: center;
}
table{
    margin: 0 auto;
    border-collapse: collapse;
}

h2{
    text-align: center;
}
table{
    text-align: center;
}
section{
    position: absolute;
    padding-left: 400px;
}
section.form{
    

}
.form{
    text-align: center;
}

