<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <img src="{{ url_for('static', filename='img/img2026.png') }}" alt="2026" class="img1">
    <h1><p class="daimei">習慣記録</p></h1>
    <h2><a  class="kirokusuru" href="{{ url_for('form') }}">記録する</a></h2>
    <div class="container">
        <div class="habit">
            <h2 class="sub">筋トレ</h2>
            <table border="1">
                <tr>
                    <th>日にち</th>
                    <th>種目</th>
                    <th>回数</th>
                </tr>
                {%for t in training%}
                {%if t.category=="筋トレ"%}
                <tr>
                    <td>{{ t.day }}</td>
                    <td>{{ t.title }}</td>
                    <td>{{ t.kaisuu }}</td>
                    <td>
            <form action="{{ url_for('delete', id=t.id) }}" method="post">
                <button class="delete-btn" type="submit">削除</button>
            </form>
        </td>
                </tr>
                {% endif %}
                {% endfor %}
            </table>
        </div>
        <div class="habit">
        <h2 class="sub">読書</h2>
        <table border="1">
            <tr>
            <th>日にち</th>
            <th>内容</th>
            <th>時間</th>
            </tr>

            {% for t in training %}
            {% if t.category == "読書" %}
            <tr>
                <td>{{ t.day }}</td>
                <td>{{ t.title }}</td>
                <td>{{ t.kaisuu }}</td>
                <td>
            <form action="{{ url_for('delete', id=t.id) }}" method="post">
                <button class="delete-btn" type="submit">削除</button>
            </form>
        </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        </div>
        <div class="habit">
        <h2 class="sub">プログラミング</h2>
        <table border="1">
            <tr>
            <th>日にち</th>
            <th>内容</th>
            <th>時間</th>
            </tr>

            {% for t in training %}
            {% if t.category == "プログラミング" %}
            <tr>
                <td>{{ t.day }}</td>
                <td>{{ t.title }}</td>
                <td>{{ t.kaisuu }}</td>
                <td>
            <form  action="{{ url_for('delete', id=t.id) }}" method="post">
                <button class="delete-btn" type="submit">削除</button>
            </form>
        </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
        </div>




    </div>


</body>
</html>